@font-face {
    font-family: "muli";
    src: url('police/Muli-Regular.ttf');
}

@font-face {
    font-family: "centabel";
    src: url('police/centabel.ttf');
}

html {
    margin: 0;
    padding: 0;
    background: url(images/fond.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
}

body {
    font-size: 13pt;
    font-family: "muli", Arial, sans-serif;
    color: black;
}

button i {
    display: inline-block;
    vertical-align: middle;
}

h2 {
    margin-top: 0px;
    font-weight: bold;
}

#status {
    top: 0px;
    margin: auto;
    text-align: center;
}

.section {
    margin-top: 100px;
    position: relative;
    text-align: center;
    font-family: "centabel", Arial, sans-serif;
}

.section#intro {
    display: block;
}

.section button {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    background-color: #AA4339;
    height: 60px;
    color: #EBEBEB;
}

.section button+button {
    margin-top: 30px;
}

.battle {
    padding: 10px 10px;
    margin: 20px 0px;
    box-shadow: 0px 2px 8px gray;
}

.note span {
    font-size: 28pt;
    font-family: "muli", Arial, sans-serif;
}

.commentaire span {
    font-size: 28pt;
    font-family: "muli", Arial, sans-serif;
    margin-bottom: 10px;
}